/* Main/Big classes */

main {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}

.post {
    max-width: 35rem;
    margin: 0 auto;

    p {
        margin: 2rem 0;
    }
}

/* Utility classes */
.flex-parent-row {
    display: flex;
    flex-flow: row wrap;
}

@for $i from 1 through 9 {
    $j: $i * 10;
    .flex-child-#{$j} {
        flex: 0 0 (10% * $i);
    }
}