.piece-thumbnail,
.piece {
    &-title {
        display: block;
        font-size: ms(20);
    }
}

.piece-thumbnail {
    max-width: 18rem;
    margin: 1rem .5rem;

}

.piece {
    &-pill {
        border-radius: 1rem;
        color: $white;
        background: $secondary;
        padding: .25rem .5rem;
        display: inline-block;
        font-size: ms(-5);
    }
}